In [45]:
import numpy as np
import pandas as pd
from sklearn.svm import SVC
from sklearn.utils import shuffle

In [46]:
data1 = pd.read_csv('reviews_rt_all.csv', sep = '|')

data2 = pd.read_csv('C:/Users/pholovnya/Desktop/imdb_small.csv', sep = '|')

In [47]:
data = data1.append(data2)
data = shuffle(data,random_state=42)

In [48]:
data.groupby('label').count()

        text
label
0      62952
1      89658

In [49]:
data.text.str.lower()

data.head()

#data['text'] = data['text'].str.replace('[^\w\s]','')

       label                                               text
12328      1  Forman's tormented, iconoclastic subjects are ...
83928      1  Kutcher does a good job of reigning in his lik...
52567      1  An off-beat and fanciful film about the human ...
28508      0  Whoa, this is bad. Even cribbed dialogue from ...
75649      0  Odds on you know what you're in for, so if you...

In [50]:
data.drop_duplicates()
#Return DataFrame with duplicate rows removed, optionally only considering certain columns

       label                                               text
12328      1  Forman's tormented, iconoclastic subjects are ...
83928      1  Kutcher does a good job of reigning in his lik...
52567      1  An off-beat and fanciful film about the human ...
28508      0  Whoa, this is bad. Even cribbed dialogue from ...
75649      0  Odds on you know what you're in for, so if you...
84190      0  Latifah is fun but the plot is a 'Barbershop' ...
44919      1                    A fascinatingly beautiful film.
50883      0  An adolescent romance we've seen a million tim...
29981      0  C'mon people, you can't be serious, another ca...
14292      0  Killer shark attacks Sea World. Dennis Quaid's...
93283      1  Less contentious than typical Von Trier but al...
2372       1  Although it borrows heavily from last year's P...
55380      0  Though slick and diverting in some aspects, in...
18090      1  Fantastic Chaplin movie with many memorable mo...
90112      1  In the interest of understanding how your gove...
13575      1  Four years ago, Seattle was where the home of ...
10631      0  The Brave One is about a New York radio show h...
42249      1  A film that dramatized an understandable reluc...
15977      0  Aniston doesn't need dialogue to catch Kate's ...
6847       0  Aksar is an awful movie. The script, the story...
54275      1  "Lovely and Amazing is a story about real peop...
15260      1  Is it a murder mystery? Is it a police procedu...
97168      1  o matter how silly the situation, each member ...
9989       1  It has atmosphere, wild animals, pirates, and ...
40836      0  None of the jokes are funny, sex is referred t...
21656      1  People who thought that THE CHRONICLES OF RIDD...
20485      1  Its dramatic shortcomings may demote Private R...
49724      1  ...in our household. Like everyone else who ha...
8479       0  I got this movie from the library, and saw it ...
60319      0  When an Oster Breadmaker gets some of the film...
...      ...                                                ...
84654      1  It has the rough, penciled-in feel of a sketch...
27371      0  On the face of it, this should be a great film...
65725      0  You might think this prodigal would learn to t...
21245      1  Being in the suburbs of New York when the Z-Bo...
2747       1  If you love movies, you've got a little Ed Woo...
27913      0  Saw this on TV. I'm glad I didn't go to the ci...
46893      1  If you are looking for a sonic-boom-special-ef...
19927      1  Robin Williams shows his stand-up talents and ...
84478      0  'Screenwriter' Wayne Conley's idea of side-spl...
27998      0  First, before reading further, you must unders...
85305      0  Esteemed Brazilian director Walter Salles ("Th...
745        0  I have to hold my hand up and say that I was o...
5311       1                          Pleasant, but unexciting.
64925      1  If this film's coda doesn't move you to tears,...
59735      0  The film maintains an actual "plot," but views...
769        0  Georgia Rule isn't a bad movie. It's several b...
64820      1  It's marvelously acted, superbly written, and ...
67221      0  ...Busch drags his campy send-up of Hollywood ...
41090      1  This is exactly the kind of intellectual in-jo...
16023      0  Parece que se tornou uma especialidade de Holl...
23714      1  I cannot believe I never added my two cents ab...
10117      0  To some of us, director Ernst Lubitsch, adored...
87498      1  Her high-wire stage performance is unmissable ...
34727      0  This long winded film turns out to be less abo...
54886      1  How apt for a film called Signs that Shyamalan...
7658       0  I could not believe the original rating I foun...
17269      1  I saw this film on TV in the UK some 25 years ...
29322      0  Trying to conceive of something as insipid as ...
44257      1  Apart from having the longest reign in British...
19348      1  A fine performance by Vittorio Mezzogiorno and...

[151885 rows x 2 columns]

In [51]:
#drop_non_english
drop_indices= []
for index, row in data.iterrows():
    try:
        if detect(row['text']) != "en":
            drop_indices.append (index)
    except Exception:
        drop_indices.append (index)
data.drop(drop_indices)

Empty DataFrame
Columns: [label, text]
Index: []

In [52]:
from sklearn.feature_extraction.text import CountVectorizer
cvect = CountVectorizer()
counts = cvect.fit_transform(data['text'])

In [53]:
#print(counts.toarray().transpose())

In [54]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test  = train_test_split(
        data.text, 
        data.label,
        train_size=0.8, 
        random_state=42)

In [55]:
#from nltk.corpus import stopwords
#stopset = set(stopwords.words('english'))
STOPWORDS = ['a','an','by','did','does', 'was', 'were', 'i']

In [56]:
# Snowball stemmers could be used as a dependency
# for cleaning our text
'''
import nltk
from nltk.stem import PorterStemmer
import string
stemmer = PorterStemmer()
def tokenize_and_stem(text):
    tokens = nltk.tokenize.word_tokenize(text)
    # strip out punctuation and make lowercase
    tokens = [token.lower().strip(string.punctuation)
              for token in tokens if token.isalnum()]

    # now stem the tokens
    tokens = [stemmer.stem(token) for token in tokens]

    return tokens
'''

'\nimport nltk\nfrom nltk.stem import PorterStemmer\nimport string\nstemmer = PorterStemmer()\ndef tokenize_and_stem(text):\n    tokens = nltk.tokenize.word_tokenize(text)\n    # strip out punctuation and make lowercase\n    tokens = [token.lower().strip(string.punctuation)\n              for token in tokens if token.isalnum()]\n\n    # now stem the tokens\n    tokens = [stemmer.stem(token) for token in tokens]\n\n    return tokens\n'

In [57]:
from sklearn.pipeline import Pipeline
#from sklearn.LogisticRegression import LogisticRegression
from sklearn.linear_model import LogisticRegression
#from pipeline.text_cleaner import TextCleaner
#tokenizer=tokenize_and_stem
pipeline = Pipeline([('vectorizer', CountVectorizer(ngram_range=(1, 2),stop_words=STOPWORDS)), ('classifier', LogisticRegression(verbose=1))])

In [58]:
#0.7945
#from sklearn.naive_bayes import MultinomialNB
#from sklearn.pipeline import Pipeline
#pipeline = Pipeline([('vectorizer', CountVectorizer(ngram_range=(1, 2),stop_words=STOPWORDS)), ('classifier', MultinomialNB())])

In [59]:
model = pipeline.fit(X=X_train, y=y_train)

[LibLinear]

In [60]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
y_pred = model.predict(X_test)
print (accuracy_score(y_test, y_pred))
print(classification_report(y_test, y_pred))

0.837690845947
             precision    recall  f1-score   support

          0       0.83      0.77      0.80     12744
          1       0.84      0.89      0.86     17778

avg / total       0.84      0.84      0.84     30522

In [18]:
from sklearn.externals import joblib

joblib.dump(pipeline, 'output.pkl')

['output.pkl']